{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Lazy Blog{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>
    <h1>{% block post_title %}Lazy Blog{% endblock %}</h1>
    <p>{% block post_description %}A free space on the internet{% endblock %}</p>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>